.sidebars {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.dashboard {
  width: 280px;
  height: 50px;
  padding: 20px 0;
  gap: 10px;
  opacity: 1;
  padding: 10px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.dashboard img {
  margin-right: 10px;
}

.dashboard:hover {
  background-color: rgba(196, 32, 114, 0.2);
}

.menu-item-active {
  background-color: rgba(196, 32, 114, 0.2);
}
