.bg-left {
  background-color: #f0f0f0;
}

.login-image {
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  margin: 0;
}

.form-group {
  width: 100%;
  max-width: 350px;
}
.login-title {
  top: 20px;
  position: relative;
}

.form-label {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.form-labels {
  right: 85px;
  position: relative;
  width: 120px;
}

.login {
  color: #00afa7;
  top: 10px;
  position: relative;
}

.login-button {
  background-color: #c42072;
  border: none;
}
.password {
  width: 305px;
}

.organ {
  width: 305px;
}

.username {
  width: 305px;
}
.Forget {
  color: #c42072;
  text-decoration: underline;
  margin-bottom: 10px;
  left: 100px;
  position: relative;
}

.d-flex.flex-column {
  padding-right: 30px;
}

.d-flex.flex-column .form-group {
  margin: 0;
  padding-top: 0;
}

.text-decoration-none {
  color: #c42072;
}

.input-group {
  width: 100%;
  max-width: 350px;
}

.form-control {
  border-radius: 0.25rem 0 0 0.25rem;
}

.input-group-text {
  background: transparent;
  cursor: pointer;
}

.input-group {
  width: 100%;
  max-width: 350px;
}

.form-control {
  border-radius: 0.25rem 0 0 0.25rem;
}

.input-group-text {
  background: transparent;
  border: none;
  cursor: pointer;
}

.login-container {
  height: 70px;
}

.logincontainer {
  right: 310px;
  position: relative;
}

.input-group-text {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.input-icon img {
  width: 20px;
  height: 20px;
}

.form-control {
  border-radius: 0.25rem;
  height: 40px;
}

.input-group {
  width: 100%;
  max-width: 350px;
}

.input-group .form-control,
.input-group-text {
  height: 40px;
}

.input-group .form-control {
  border-radius: 0.25rem;
}

.login-button {
  background-color: #c42072;
  border: none;
  height: 45px;
  border-radius: 5px;
}

.forget {
  color: blue;
  text-decoration: underline;
  margin-bottom: 10px;
  position: relative;
}

.input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border: none;
}
