.main-container {
  display: flex;
}
.sidebar {
  width: 20%;
}
.dashboard {
  width: 80%;
}
@media (max-width: 1000px) {
  .main-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .dashboard {
    width: 100%;
  }
}
